body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(https://cdn.pixabay.com/photo/2018/04/22/22/57/hacker-3342696_1280.jpg); 
    background-size: cover;
    background-position: center;
    color: yellow; 
}

header {
    background-color: rgba(0, 0, 0, 0.5); 
    color: red;
    text-align: center;
    padding: 1em;
}

main {
    padding: 20px;
}

.content {
    text-align: center;
    padding: 20px;
    background-color: #OOFFOO(255, 255, 255, 0.8); 
    border-radius: 10px;
}

footer {
    background-color: #87CEEB;(0, 0, 0, 0.5); 
    color: black;
    text-align: center;
    padding: 1em;
}
